.error {
    color: red;
}

body {
  font-family: Arial;
  margin: 0;
  /*background-image: url("../images/background.jpg")*/
}

.demo {
    width:650px;
}
#lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.caroselpics {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

.pic_categories {
    display: flex;
    flex-wrap: wrap;
}