<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
    <nav th:replace="fragments :: navigation"></nav>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Add New Images</label>
            <input type="file" class="form-control"name = "files" placeholder="Select Image" multiple/>
            <small class="form-text text-muted">Browse to the image you would like to upload.</small>
            <label>Select Category</label>
            <select name="category">
                <option th:each="category : ${categories}" th:text="${category.category}" th:value="${category.id}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
    <br>
    <form method="POST" action="/add_category">
        <div class="form-group">
            <label>Add New Category</label>
            <input type="text" class="form-control" name="category" placeholder="Type New Category Name" />
            <button type="submit" class="btn btn-primary">Add New Category</button>
        </div>
    </form>
</body>
</html>